.full{
  position: relative;
  background-color: #002649;
  &__dec{
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    opacity: 0.41;
    @media all and (max-width: 768px){
      display: none;
    }
  }
  &__image{
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: lighten;
    img{
      height: 100%;
      width: auto;
    }
  }
  &__container{

  }
  &__content{
    position: relative;
    padding: 216px 0;
    max-width: 539px;
    @media all and (max-width: 1400px){
      padding: 150px 0 150px 0;
    }
    @media all and (max-width: 1024px){
      padding: 100px 0 100px 0;
    }
    @media all and (max-width: 768px){
      padding: 75px 0 75px 0;
    }
    @media all and (max-width: 500px){
      padding: 62px 0 73px 0;
    }
  }
  &__title{
    color: white;
    @media all and (max-width: 500px){
      margin-bottom: 11px;
    }
  }
  &__subtitle{
    color: white;
    @media all and (max-width: 500px){
      font-size: 16px;
    }
  }
}