.pay{
  margin-top: 60px;
  margin-bottom: 168px;
  @media all and (max-width: 500px){
    margin-top: 18px;
    margin-bottom: 65px;
  }
  &-small{
    margin-bottom: 82px;
    margin-top: 44px;
  }
  &__container{

  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    margin: 0 17px;
    @media all and (max-width: 500px){
      margin: 0 4px;
    }
  }
}