.pay{
  margin-top: 60px;
  margin-bottom: 168px;
  &-small{
    margin-bottom: 82px;
    margin-top: 44px;
  }
  &__container{

  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    margin: 0 17px;
  }
}